[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "exploratory"]
	path = exploratory
	url = https://github.com/jinkim3/exploratory
[submodule "ezr"]
	path = ezr
	url = https://github.com/jinkim3/ezr
[submodule "kim"]
	path = kim
	url = https://github.com/jinkim3/kim
