[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "kim"]
	path = kim
	url = https://github.com/jinkim3/kim
	shallow = true
	registered = true
[submodule "exploratory"]
	path = exploratory
	url = https://github.com/jinkim3/exploratory
	shallow = true
	registered = true
[submodule "ezr"]
	path = ezr
	url = https://github.com/jinkim3/ezr
	shallow = true
	registered = true
